<div class="container stickyfooter">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-primary buttonAccepDecline m-2"
              (click)="ToggleDraft()">Toggle draft
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-primary buttonAccepDecline m-2"
              (click)="ToggleOpen()">Toggle open
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-primary buttonAccepDecline m-2"
              (click)="ToggleSelectie()">Toggle selectie
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-primary buttonAccepDecline m-2"
              (click)="ToggleClosed()">Toggle closed
      </button>
    </div>

    <div class="col-sm-12 ">
      <h3 class="mt-3 mb-3">Bewerkbare opdrachten (draft)</h3>
      <div *ngIf="draft">
        <div class="card mb-2" *ngIf="bewerkbareOpdrachten.length > 0">
          <div class="card-body">
            <div *ngFor="let opdracht of bewerkbareOpdrachten">
              <h4>{{opdracht.titel}}</h4>
              <p>{{opdracht.omschrijving}}</p>
              <p>{{opdracht.locatie}}</p>
              <a [routerLink]="['/maker/opdracht/', opdracht.opdrachtID]">Meer details</a>
              <button class="btn btn-primary buttonAccepDecline m-2"
                      (click)="PubliceerOpdracht(opdracht.opdrachtID)">Publiceer opdracht
            </button>
              <hr>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="bewerkbareOpdrachten.length == 0">
        <p>U heb geen bewerkbare opdracten.<br>
          <a [routerLink]="['/bedrijf/maakopdracht/', + bedrijfID]">Klik hier om een nieuwe opdracht te maken.</a>
        </p>
      </div>
    </div>


    <div class="col-sm-12 ">
      <h3 class="mt-3 mb-3">Open opdrachten (open)</h3>
      <div *ngIf="open">
        <div class="card mb-2" *ngIf="openOpdrachten.length > 0">
          <div class="card-body">
            <div *ngFor="let opdracht of openOpdrachten">
              <h4>{{opdracht.titel}}</h4>
              <p>{{opdracht.omschrijving}}</p>
              <p>{{opdracht.locatie}}</p>
              <a [routerLink]="['/maker/opdracht/', opdracht.opdrachtID]">Meer details</a>
              <button class="btn btn-primary buttonAccepDecline m-2"
                      (click)="SelectieOpdracht(opdracht.opdrachtID)">Naar selectie fase
              </button>
              <hr>
            </div>
          </div>
        </div>
      </div>
      <p *ngIf="openOpdrachten.length == 0">U heb nog geen openstaande opdracten.</p>
    </div>


    <div class="col-sm-12 ">
      <h3 class="mt-3 mb-3">Selecteer makers (selectie)</h3>
      <div *ngIf="selectie">
        <div class="card mb-2" *ngIf="selecteerOpdrachten.length > 0">
          <div class="card-body">
            <div *ngFor="let opdracht of selecteerOpdrachten">
              <h4>{{opdracht.titel}}</h4>
              <p>{{opdracht.omschrijving}}</p>
              <p>{{opdracht.locatie}}</p>
              <button class="btn btn-primary buttonAccepDecline m-2"
                      (click)="SelecteerMakers(opdracht.opdrachtID)">Bekijk uw makers
              </button>
              <hr>
            </div>
          </div>
        </div>
      </div>
      <p *ngIf="selecteerOpdrachten.length == 0">U heb geen opdracten om makers voor te selecteren.</p>
    </div>


    <div class="col-sm-12 ">
      <h3 class="mt-3 mb-3">Gesloten opdrachten (closed)</h3>
      <div *ngIf="closed">
        <div class="card mb-2" *ngIf="geslotenOpdrachten.length > 0">
          <div class="card-body">
            <div *ngFor="let opdracht of geslotenOpdrachten">
              <h4>{{opdracht.titel}}</h4>
              <p>{{opdracht.omschrijving}}</p>
              <p>{{opdracht.locatie}}</p>
             <p>HIER NOG SCHRIJVEN VAN REVIEWS TOEVOEGEN!!!!!! PER MAKER EEN, kijk bij selecteer-lisjt hoe je aan de geacepteerde makers komt</p>
              <hr>
            </div>
          </div>
        </div>
      </div>
      <p *ngIf="geslotenOpdrachten.length == 0">U heb nog geen gesloten opdracten.</p>
    </div>
  </div>
</div>
