<div class="container">
    <div class="span8">
        <div *ngFor="let opdracht of opdrachten">
            <h1>{{opdracht.titel}}</h1>
            <p>{{opdracht.omschrijving}}</p>
            <p>{{opdracht.locatie}}</p>
            <hr>
        </div>
<!--
        <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"
            [length]="totalSize" [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
        </mat-paginator>-->
    </div>
</div>