<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top ">

  <a class="navbar-brand mr-4" routerLink="/" routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }">{{ title }}</a>

<!--   -------------- -->
<!-- ALLES VOOR MAKER -->
<!--   -------------- -->
  <a class="navbar-brand" matTooltip="Dashboard" routerLink="/maker/dashboard/{{makerId}}" routerLinkActive="active" *ngIf="isLoggedIn && isMaker"
     [routerLinkActiveOptions]="{ exact: true }"><i class="material-icons md-34 md-light">
    dashboard
  </i></a>

  <a class="navbar-brand" matTooltip="Opdrachten" routerLink="/maker/opdrachten/{{makerId}}" routerLinkActive="active" *ngIf="isLoggedIn && isMaker"
     [routerLinkActiveOptions]="{ exact: true }"><i class="material-icons md-34 md-light">
    note_add
  </i></a>

  <a class="navbar-brand" matTooltip="Profiel" routerLink="/maker/profiel/{{makerId}}" routerLinkActive="active" *ngIf="isLoggedIn && isMaker"
     [routerLinkActiveOptions]="{ exact: true }"><i class="material-icons md-34 md-light">
    person_outline
  </i></a>

  <a class="navbar-brand" matTooltip="Skills" routerLink="/maker/skills/{{makerId}}" routerLinkActive="active" *ngIf="isLoggedIn && isMaker"
     [routerLinkActiveOptions]="{ exact: true }"><i class="material-icons md-34 md-light">
    local_offer
  </i></a>

  <a class="navbar-brand" matTooltip="Reviews" routerLink="/maker/reviews/{{makerId}}" routerLinkActive="active" *ngIf="isLoggedIn && isMaker"
     [routerLinkActiveOptions]="{ exact: true }"><i class="material-icons md-34 md-light">
    rate_review
  </i></a>
  <!--   -------------- -->
  <!-- ALLES VOOR BEDRIJF -->
  <!--   -------------- -->
  <a class="navbar-brand" matTooltip="Dashboard" routerLink="/bedrijf/dashboard/{{bedrijfId}}" routerLinkActive="active" *ngIf="isLoggedIn && isBedrijf"
     [routerLinkActiveOptions]="{ exact: true }"><i class="material-icons md-34 md-light">
    dashboard
  </i></a>

  <a class="navbar-brand" matTooltip="Opdracht aanmaken" routerLink="/bedrijf/maakopdracht/{{bedrijfId}}" routerLinkActive="active" *ngIf="isLoggedIn && isBedrijf"
     [routerLinkActiveOptions]="{ exact: true }"><i class="material-icons md-34 md-light">
    note_add
  </i></a>

  <a class="navbar-brand" matTooltip="Profiel" routerLink="/bedrijf/profiel/{{bedrijfId}}" routerLinkActive="active" *ngIf="isLoggedIn && isBedrijf"
     [routerLinkActiveOptions]="{ exact: true }"><i class="material-icons md-34 md-light">
    person_outline
  </i></a>

  <a class="navbar-brand" matTooltip="Tags" routerLink="/bedrijf/tags/{{bedrijfId}}" routerLinkActive="active" *ngIf="isLoggedIn && isBedrijf"
     [routerLinkActiveOptions]="{ exact: true }"><i class="material-icons md-34 md-light">
    local_offer
  </i></a>

  <a class="navbar-brand" matTooltip="Reviews" routerLink="/bedrijf/reviews/{{bedrijfId}}" routerLinkActive="active" *ngIf="isLoggedIn && isBedrijf"
     [routerLinkActiveOptions]="{ exact: true }"><i class="material-icons md-34 md-light">
    rate_review
  </i></a>


  <!--   -------------- -->
  <!-- ALLES VOOR ADMIN -->
  <!--   -------------- -->
  <a class="navbar-brand" matTooltip="Dashboard" routerLink="/admin/overzicht/{{adminId}}" routerLinkActive="active" *ngIf="isLoggedIn && isAdmin"
     [routerLinkActiveOptions]="{ exact: true }"><i class="material-icons md-34 md-light">
    dashboard
  </i></a>


  <!--   -------------- -->
  <!-- ALLES VOOR IEDEREEN -->
  <!--   -------------- -->
  <div class="float-right ml-auto">
    <a class="navbar-brand" routerLink="/registreer" routerLinkActive="active" *ngIf="!isLoggedIn"
       [routerLinkActiveOptions]="{ exact: true }">Registreer</a>

    <a class="navbar-brand" routerLink="/login" routerLinkActive="active" *ngIf="!isLoggedIn"
       [routerLinkActiveOptions]="{ exact: true }">Login</a>

    <a class="navbar-brand" routerLink="/Welkom" routerLinkActive="active" *ngIf="isLoggedIn"
       [routerLinkActiveOptions]="{ exact: true }" (click)="logUit()">Logout</a>
  </div>

</nav>
