<div class="container">
    <h2 id="hoofdtitel">Admin overzicht</h2>
    <div class="row">
        <div class="col-sm-4">
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <div class="card">
                    <div class="card-inner">
                        <div class="header">
                            <h2>Bedrijven Beheren</h2>
                        </div>
                        <div class="content">
                            <p>Men krijgt een overzicht van alle bedrijven</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <div class="card">
                    <div class="card-inner">
                        <div class="header">
                            <h2>Makers Beheren</h2>

                        </div>
                        <div class="content">
                            <p>Men krijgt een overzicht van alle makers</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <div class="card">
                    <div class="card-inner">
                        <div class="header">
                            <h2>Opdrachten Beheren</h2>

                        </div>
                        <div class="content">
                            <p>Men krijgt een overzicht van alle opdrachten</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <div class="card">
                    <div class="card-inner">
                        <div class="header">
                            <h2>Tags Beheren</h2>

                        </div>
                        <div class="content">
                            <p>Men krijgt een overzicht van alle tags</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <div class="card">
                    <div class="card-inner">
                        <div class="header">
                            <h2>Reviews Beheren</h2>

                        </div>
                        <div class="content">
                            <p>Men krijgt een overzicht van alle reviews</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <div class="card">
                    <div class="card-inner">
                        <div class="header">
                            <h2>Skills Beheren</h2>

                        </div>
                        <div class="content">
                            <p>Men krijgt een overzicht van alle skills</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <div class="card">
                    <div class="card-inner">
                        <div class="header">
                            <h2>Types Beheren</h2>
                        </div>
                        <div class="content">
                            <p>Men krijgt een overzicht van alle types</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>