/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


$dark-clr: #96c03d;
$accent-clr: #96c03d;
$light-accent-clr: #97D0CA;
$background-clr: #EFEEEF;

$main-font: 'Roboto', sans-serif;

body{
    background-color: #EFEEEF;
}
h1{
    font-family: $main-font;
    font-weight: bold;
    color: black;
    text-align: center;
    border-bottom: $accent-clr solid 1px;
    margin-bottom: 20px;
}

table {
    color: $dark-clr;
    max-width: 1250px;
    margin: auto;

    thead th {
        background: $dark-clr;
        color: $background-clr;
    }

    tbody{
        th, td{
            vertical-align: middle !important;
            color: $dark-clr;
        }

        tr:nth-child(even){
            background: lighten($dark-clr, 60%);
        }
    }
}

.knop {
    border-radius: 50px;
    height: 40px;
    width: 40px;
} 
     
.btn-danger {
    margin-left: 10px;
}

.button {
    position: fixed !important;
    bottom: 150px;
    left: 50px;
	min-width: 150px;
	max-width: 250px;
	display: block;
	margin: 1em;
	padding: 1em 2em;
	border: none;
	background: none;
	color: inherit;
	position: relative;
	z-index: 1;
    -moz-osx-font-smoothing: grayscale;
	border-radius: 5px;
	font-weight: 600;
    
    :focus {
        outline: none;
    }
}

.button--nuka {
	margin: 1em 2em;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--nuka::before,
.button--nuka::after {
	content: '';
	position: absolute;
	border-radius: inherit;
	background: $accent-clr;
	z-index: -1;
}
.button--nuka::before {
	top: -4px;
	bottom: -4px;
	left: -4px;
	right: -4px;
	opacity: 0.2;
	-webkit-transform: scale3d(0.7, 1, 1);
	transform: scale3d(0.7, 1, 1);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}
.button--nuka::after {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: scale3d(1.1, 1, 1);
	transform: scale3d(1.1, 1, 1);
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;
}
.button--nuka::before,
.button--nuka::after {
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--nuka:hover {
	color: $background-clr;
}
.button--nuka:hover::before {
	opacity: 1;
}
.button--nuka:hover::after {
	background-color: $accent-clr;
}
.button--nuka:hover::after,
.button--nuka:hover::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.popupBox {  
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 50px 0px;
    width: 100%;
    height: 100vh;
    background-color: transparentize($dark-clr, 0.5);
    color: inherit;
    z-index: 50;
}

.popup{
    background-color: $background-clr;
    margin: auto;
    color: $dark-clr;
    width: 80%;
    border: 2px solid $dark-clr;
    border-radius: 10px;
    box-shadow: 4px 4px 15px $dark-clr;
    padding: 20px;

    #close {
        float: right;
        margin: 15px 25px;  
        color: $dark-clr;

        :hover {
            color: $accent-clr;
        }
    }

    h1 {
        padding-top: 10px;  
    }

    label {
        font-weight: bold;
        font-size: 20px;
    }

    input {
        border-radius: 5px;
    }

    .submitKnop {
        border-radius: 5px;
        background: $accent-clr;
        border: none;
        font-size: 18px;
        margin-top: 15px;

        &:hover{
            background: $dark-clr;
        }
    }
}



.card {
    margin: 10px 5px;
    padding: 0px;
    border: none;
    background: $dark-clr;
    border-radius: 5px;

    .card-img-top {
        margin: 0px;
        margin-bottom: 10px;
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
    }

    h2 {
        color: $accent-clr;
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
        border-bottom: $accent-clr solid 1px;
    }

    .card-body{
        padding: 5px 20px;
    }

    #firstItem {
        margin: 10px 0px 5px 0px;
    }

    p {
        color: $light-accent-clr;
        margin: 5px 0px;

        i{
            width: 30px;
        }

        span {
            color: $background-clr;
            padding-left: 10px;
        }
    }


}