<div class="container stickyfooter">
  <div class="mb-3">
    <span class="login-heading h3">Opdracht</span>
    <span *ngIf="competitie" class="login-heading h3">: competitie</span>
    <span class="login-heading h3"> ({{aantal}} van {{opdracht.aantalPersonen}} makers geselecteerd)</span>
    <div *ngIf="competitie" class="login-heading">Dit wilt zeggen dat je meerdere mensen kan aannemen!</div>
    <button class="btn btn-primary buttonAccepDecline m-2" *ngIf="maxAantalBerijkt"
            (click)="SluitOpdracht()">Sluit opdracht
    </button>
    <button class="btn btn-primary buttonAccepDecline m-2" *ngIf="!maxAantalBerijkt"
            (click)="OpenOpdracht()">Zet opdracht terug open
    </button>

  </div>
  <!-- COL PROFIEL-->

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">{{opdracht?.titel}}</h2>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5 class="card-title">Omschrijving</h5>
            <p class="card-text">{{opdracht?.omschrijving}}</p>
          </li>
          <li class="list-group-item">
            <h5 class="card-title">Locatie</h5>
            <p class="card-text">{{opdracht?.locatie}}</p>
            <iframe width="100%" height="250" frameBorder="0" scrolling="no"
                    [src]="sanitizer.bypassSecurityTrustResourceUrl(mapsUrl)"></iframe>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-12">
      <h3 class="mt-3 mb-3">Geselecteerde Makers</h3>
      <div class="card mb-2" *ngFor="let maker of geaccepteerdeMakers">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2 text-left">
              <img src="../assets/images/noProfile.jpg" class="img img-fluid"/>
            </div>
            <div class="col-md-10">
              <p>
                <a
                   [routerLink]="['/bedrijf/maker/', maker.makerID]">{{ maker.voornaam + " " + maker.achternaam }}</a>
              </p>
              <p >
                {{maker.linkedIn}}
              </p>
              <p >
                {{maker.geboortedatum}}
              </p>
              <button class="btn btn-primary buttonAccepDecline m-2"
                      (click)="DeleteOpdrachtVerzoek(maker.makerID)">Delete maker
              </button>
            </div>
          </div>
        </div>
      </div>
      <p *ngIf="geaccepteerdeMakers.length == 0">U hebt nog geen maker geselecteerd voor deze opdracht</p>
    </div>

    <div class="col-md-12">
      <h3 class="mt-3 mb-3">Makers die zich hebben opgegeven</h3>
      <div class="card mb-2" *ngFor="let maker of makers">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2 text-left">
              <img src="../assets/images/noProfile.jpg" class="img img-fluid"/>
            </div>
            <div class="col-md-10">
              <p>
                <a
                   [routerLink]="['/bedrijf/maker/', maker.makerID]">{{ maker.voornaam + " " + maker.achternaam }}</a>
              </p>
              <p >
                {{maker.linkedIn}}
              </p>
              <p >
                {{maker.geboortedatum}}
              </p>
              <button class="btn btn-primary buttonAccepDecline m-2" *ngIf="!maxAantalBerijkt"
                      (click)="AccepteerOpdrachtVerzoek(maker.makerID)">Accepteer maker
              </button>
            </div>
          </div>
        </div>
      </div>
      <p *ngIf="maxAantalBerijkt">U hebt al voldoende makers geaccepteerd.</p>
      <p *ngIf="makers.length == 0">Er zijn momenteel geen makers die zich hebben opgegeven voor deze opdracht</p>
    </div>
  </div>

</div>
