<div class="container-fluid stickyfooter pt-4">
    <div class="row">
        <div class="col-md-12">
            <h1>Tags beheren</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Naam</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tag of tags">
                        <th scope="row">{{tag.tagID}}</th>
                        <td>{{tag.naam}}</td>
                        <td>
                            <button type="button" class="btn btn-warning knop" (click)="updateTag(tag)"><i
                                class="material-icons"> create
                            </i></button>
                        <button type="button" class="btn btn-danger knop"
                            (click)="deleteTag(tag.tagID)"><i class="material-icons">
                                delete
                            </i></button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <button class="button button--nuka" (click)="toevoegenPopup()">Tag toevoegen</button>
        </div>
    </div>
</div>
<div class="popupBox" *ngIf="popup">
    <div class="popup">
        <div (click)="closePopup()" id="close"><i class="material-icons">
            clear
        </i></div>
        <h1>Tag toevoegen</h1>
        <form #tagForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="naam">Naam</label>
                <input type="text" class="form-control" id="naam" [(ngModel)]="tag.naam" name="tagform1" required>
            </div>
            <button type="submit" class="btn btn-primary submitKnop">Toevoegen</button>
        </form>
    </div>
</div>