<h1>Maak een nieuwe opdracht</h1>
<form [formGroup]="CreateOpdrachtForm" (ngSubmit)="onSubmit()" data-toggle="validator">

  <!-- TITLE INPUT FORM CONTROL -->
  <div class="form-group">
    <label for="inputTitle" class="pt-3">Titel</label>
    <input type="text" class="form-control" id="inputTitle" placeholder="Voer een titel in."
           formControlName="inputTitle" [ngClass]="{ 'is-invalid': submitted && f.inputTitle.errors }">
    <div *ngIf="submitted && f.inputTitle.errors" class="invalid-feedback">
      <div *ngIf="f.inputTitle.errors.required">Dit is een verplicht veld! Vul een titel in!</div>
    </div>
  </div>


  <!-- OMSCHRIJVING INPUT FORM CONTROL -->
  <div class="form-group">
    <label for="inputOmschrijving" class="pt-3">Omschrijving</label>
    <textarea  type="text" class="form-control" id="inputOmschrijving" placeholder="Uitgebreide omschrijving van de opdracht"
               formControlName="inputOmschrijving" [ngClass]="{ 'is-invalid': submitted && f.inputOmschrijving.errors }"></textarea>
    <div *ngIf="submitted && f.inputOmschrijving.errors" class="invalid-feedback">
      <div *ngIf="f.inputOmschrijving.errors.required">Dit is een verplicht veld! Vul een omschrijving in!</div>
    </div>
  </div>



  <!-- LOCATIE INPUT FORM CONTROL -->
  <div class="form-group">
    <label for="inputLocatie" class="pt-3">Locatie</label>
    <input type="text" class="form-control" id="inputLocatie" placeholder="Plaats waar de opdracht gemaakt mag/moet worden"
           formControlName="inputLocatie" [ngClass]="{ 'is-invalid': submitted && f.inputLocatie.errors }">
    <div *ngIf="submitted && f.inputLocatie.errors" class="invalid-feedback">
      <div *ngIf="f.inputLocatie.errors.required">Dit is een verplicht veld! Vul een locatie in!</div>
    </div>
  </div>




  <!-- AANTAL PERSONENEN FORM CONTROL -->
  <div class="form-group">
    <label for="inputAantalPersonen" class="pt-3">Aantal personen</label>
    <input type="number" class="form-control" id="inputAantalPersonen" placeholder="Vul een positief getal in"
           formControlName="inputAantalPersonen" [ngClass]="{ 'is-invalid': submitted && f.inputAantalPersonen.errors }">
    <div *ngIf="submitted && f.inputAantalPersonen.errors" class="invalid-feedback">
      <div *ngIf="f.inputAantalPersonen.errors.required">Dit is een verplicht veld! Vul een aantal personen in!</div>
      <div *ngIf="f.inputAantalPersonen.errors.min">Er moet minstens 1 persoon kunnen deelenemen!</div>
      <div *ngIf="f.inputAantalPersonen.errors.max">Is meer als 100 personen niet een beetje veel?</div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Maak opdracht</button>
</form>
