<div class="container stickyfooter">
    <h3 class="mt-3 mb-3">Maak een nieuwe opdracht</h3>
  <form [formGroup]="CreateOpdrachtForm" (ngSubmit)="onSubmit()" data-toggle="validator">

    <!-- TITLE INPUT FORM CONTROL -->
    <div class="form-group">
      <label for="titel" class="pt-3">Titel</label>
      <input type="text" class="form-control" id="titel" placeholder="Voer een titel in."
             formControlName="titel" [ngClass]="{ 'is-invalid': submitted && f.titel.errors }">
      <div *ngIf="submitted && f.titel.errors" class="invalid-feedback">
        <div *ngIf="f.titel.errors.required">Dit is een verplicht veld! Vul een titel in!</div>
      </div>
    </div>


    <!-- OMSCHRIJVING INPUT FORM CONTROL -->
    <div class="form-group">
      <label for="omschrijving" class="pt-3">Omschrijving</label>
      <textarea type="text" class="form-control" id="omschrijving"
                placeholder="Uitgebreide omschrijving van de opdracht"
                formControlName="omschrijving"
                [ngClass]="{ 'is-invalid': submitted && f.omschrijving.errors }"></textarea>
      <div *ngIf="submitted && f.omschrijving.errors" class="invalid-feedback">
        <div *ngIf="f.omschrijving.errors.required">Dit is een verplicht veld! Vul een omschrijving in!</div>
      </div>
    </div>


    <!-- LOCATIE INPUT FORM CONTROL -->
    <div class="form-group">
      <label for="locatie" class="pt-3">Locatie</label>
      <input type="text" class="form-control" id="locatie" placeholder="Plaats waar de opdracht gemaakt mag/moet worden"
             formControlName="locatie" [ngClass]="{ 'is-invalid': submitted && f.locatie.errors }">
      <div *ngIf="submitted && f.locatie.errors" class="invalid-feedback">
        <div *ngIf="f.locatie.errors.required">Dit is een verplicht veld! Vul een locatie in!</div>
      </div>
    </div>


    <!-- AANTAL PERSONENEN FORM CONTROL -->
    <div class="form-group">
      <label for="aantalPersonen" class="pt-3">Aantal personen</label>
      <input type="number" class="form-control" id="aantalPersonen" placeholder="Vul een positief getal in"
             formControlName="aantalPersonen" [ngClass]="{ 'is-invalid': submitted && f.aantalPersonen.errors }">
      <div *ngIf="submitted && f.aantalPersonen.errors" class="invalid-feedback">
        <div *ngIf="f.aantalPersonen.errors.required">Dit is een verplicht veld! Vul een aantal personen in!</div>
        <div *ngIf="f.aantalPersonen.errors.min">Er moet minstens 1 persoon kunnen deelenemen!</div>
        <div *ngIf="f.aantalPersonen.errors.max">Is meer als 100 personen niet een beetje veel?</div>
      </div>
    </div>
    <div class="custom-control custom-checkbox mb-3">
      <input type="checkbox" class="custom-control-input" id="customCheck1" name="customCheck1"
             (change)="setCompetitie()">
      <label class="custom-control-label" for="customCheck1">Competitie</label>
    </div>
    <button type="submit" class="btn btn-primary">Maak opdracht</button>
  </form>
</div>
