<div class="container stickyfooter">
  <div class="row">
    <div *ngIf="!editMode" class="col-sm-12 col-md-9">
      <div class="mb-3">
        <span class="login-heading  h3">Profiel</span>
        <span class="float-right">
          <i (click)="EditBedrijf()" class="material-icons md-32 pointer">edit</i>
          <i (click)="DeleteBedrijfPopup()" class="material-icons md-32 pointer">delete_forever</i>
        </span>
      </div>
      <!-- COL PROFIEL-->

      <div class="card">
        <div class="mt-4 text-center">
          <img src="../assets/images/noProfile.jpg" class="card-img-top center-cropped " alt="Profielfoto">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{bedrijf.bedrijfsnaam}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5 class="card-title">Biografie</h5>
            <p class="card-text">{{bedrijf.biografie}}</p>
          </li>
          <li class="list-group-item">
            <h5 class="card-title">Locatie</h5>
            <p class="card-text">{{bedrijf.locatie}}</p>
          </li>
        </ul>
      </div>
    </div>


    <!--    EDIT MODE START HIER-->
    <div *ngIf="editMode" class="col-sm-12 col-md-9">
      <form [formGroup]="editBedrijfForm" (ngSubmit)="onSubmit() ">
        <div class="mb-3">
          <span class="login-heading  h3">Profiel</span>
          <span class="float-right">
            <button class="btn btn-secondary mr-1" (click)="Annuleer()">Annuleren</button>
            <button type="submit" class="btn btn-primary">Opslaan</button>
        </span>
        </div>
        <!-- COL PROFIEL-->

        <div class="card">
          <div class="mt-4 text-center">
            <img src="../assets/images/noProfile.jpg" class="card-img-top center-cropped " alt="Profielfoto">
          </div>
          <div class="card-body">
            <h5 class="card-title">Bewerkt uw profiel</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <!-- Bedrijfsnaam -->
              <div class="form-group">
                <label >Bedrijfsnaam</label>
                <input type="text" placeholder="Hier uw bedrijfsnaam" class="form-control"
                       formControlName="inputBedrijfsnaam"
                       [ngClass]="{ 'is-invalid': submitted && f2M.inputBedrijfsnaam.errors }">

                <div *ngIf="submitted && f2M.inputBedrijfsnaam.errors" class="invalid-feedback">
                  <div *ngIf="f2M.inputBedrijfsnaam.errors.required">Dit veld is verplicht! Vul een bedrijfsnaam in!</div>
                </div>
              </div>
            </li>


            <li class="list-group-item">
              <!-- Locatie -->
              <div class="form-group">
                <label >Locatie</label>
                <input type="text" class="form-control" placeholder="Hier uw locatie"
                       formControlName="inputLocatie"
                       [ngClass]="{ 'is-invalid': submitted && f2M.inputLocatie.errors }">

                <div *ngIf="submitted && f2M.inputLocatie.errors" class="invalid-feedback">
                  <div *ngIf="f2M.inputLocatie.errors.required">Dit veld is verplicht! Vul een locatie in!</div>
                </div>
              </div>
            </li>


            <li class="list-group-item">
              <!-- LOCATIE INPUT FORM CONTROL -->
              <div class="form-group">
                <label >Biografie</label>
                <input type="text" class="form-control" placeholder="DD/MM/JJJJ"
                       formControlName="inputBiografieBedrijf"
                       [ngClass]="{ 'is-invalid': submitted && f2M.inputBiografieBedrijf.errors }">
                <div *ngIf="submitted && f2M.inputBiografieBedrijf.errors" class="invalid-feedback">
                  <div *ngIf="f2M.inputBiografieBedrijf.errors.required">Dit is een verplicht veld! Vul een
                    biografie in!
                  </div>
                </div>
              </div>
            </li>


          </ul>
        </div>
      </form>
    </div>

    <!--      COL TAGS -->
    <div class="col-sm-12 col-md-3">
      <h3 class="login-heading mb-2">Tags</h3>
      <div *ngFor="let tag of tags">
        <div class="list-group text-center col-sm-12 col-md-12">
          <div class="list-group-item list-group-item-action list list-group-item-primary">
            {{tag.naam}}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="popupBox" *ngIf="popup">
  <div class="popup">
      <div (click)="closePopup()" id="close"><i class="material-icons">
              clear
          </i></div>
      <h1>Bent u zeker dat u uw profiel wil verwijderen?</h1>
          <button (click)="DeleteBedrijf()" class="btn btn-primary submitKnop">Verwijderen</button>   
          <button (click)="closePopup()" class="btn btn-primary submitKnop">Annuleren</button>
  </div>
</div>