/* Basic layout */

section {
  padding-top: 7.5vh;
}

/* Header video */

header {
  position: relative;
  background-color: black;
  height: 60vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&h=750&w=1260') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

/* Cards */
.services {
	width:100%;
	height:auto;
	border-bottom:5px #96c03d solid;
	background:#fff;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
	margin-bottom:28px;
}

.services h3 {
	font-size:20px;
	font-weight:700;
}

.services p {
	margin-bottom:0;
}

.service-back {
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	padding:5px 15px 0 15px;
	text-align:left;
	background:#fff;
	
}

.service-front {
	width:100%;
	height:auto;
	position:relative;
	z-index:10;
	background:#fff;
	padding:15px;
	bottom:0px;
	transition: all 0.5s ease;
}

.services:hover .service-front {
	bottom:-200px;
	transition: all 0.5s ease;
}

.services:hover {
	border-color:darken(#96c03d, 10%);
	transition:0.5s;
}