<div class="container-fluid stickyfooter pt-4">
    <div class="row">
        <div class="col-md-12">
            <h1>Skills beheren</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Naam</th>
                        <th scope="col">MakerID</th>
                        <th scope="col">Aantal Likes</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let skill of skills">
                        <th scope="row">{{skill.skillID}}</th>
                        <td>{{skill.naam}}</td>
                        <td>{{skill.maker.voornaam}} {{skill.maker.achternaam}}</td>
                        <td>{{skill.aantalLikes}}</td>
                        <td>
                            <button type="button" class="btn btn-warning knop" (click)="updateSkill(skill)"><i
                                    class="material-icons"> create
                                </i></button>
                            <button type="button" class="btn btn-danger knop" (click)="deleteSkill(skill.skillID)"><i
                                    class="material-icons">
                                    delete
                                </i></button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <button class="button button--nuka" (click)="toevoegenPopup()">Skill toevoegen</button>
        </div>
    </div>
</div>

<div class="popupBox" *ngIf="popup">
    <div class="popup">
        <div (click)="closePopup()" id="close"><i class="material-icons">
                clear
            </i></div>
        <h1>Skill toevoegen</h1>
        <form #skillForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="naam">Naam</label>
                <input type="text" class="form-control" id="naam" [(ngModel)]="skill.naam" name="skillform1" required>
            </div>
            <div class="form-group">
                <label for="maker">Maker</label>
                <select name="skillform2" id="maker" [(ngModel)]="skill.makerID">
                    <option value="0">------Kies een Maker-----</option>
                    <option *ngFor="let maker of makers" [value]="maker.makerID">
                        {{maker.voornaam}} {{maker.achternaam}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="aantalLikes">Aantal Likes</label>
                <input type="number"  min="0" class="form-control" id="aantalLikes" [(ngModel)]="skill.aantalLikes"
                    name="skillform3" required>
            </div>
            <button type="submit" class="btn btn-primary submitKnop">Toevoegen</button>
        </form>
    </div>
</div>