<div class="container-fluid stickyfooter pt-4">
    <div class="row">
        <div class="col-md-12">
            <h1>Opdrachten beheren</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Titel</th>
                        <th scope="col">Omschrijving</th>
                        <th scope="col">Locatie</th>
                        <th scope="col">Competitie</th>
                        <th scope="col">Bedrijf</th>
                        <th scope="col">Aantal personen</th>
                        <th scope="col">Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let opdracht of opdrachten">
                        <th scope="row">{{opdracht.opdrachtID}}</th>
                        <td>{{opdracht.titel}}</td>
                        <td>{{opdracht.omschrijving}}</td>
                        <td>{{opdracht.locatie}}</td>
                        <td>{{opdracht.competitie}}</td>
                        <td>{{opdracht.bedrijfID}}</td>
                        <td>{{opdracht.aantalPersonen}}</td>
                        <td>{{opdracht.statusID}}</td>
                        <td>
                            <button type="button" class="btn btn-warning knop" (click)="updateOpdracht(opdracht)"><i
                                class="material-icons"> create
                            </i></button>
                        <button type="button" class="btn btn-danger knop"
                            (click)="deleteOpdracht(opdracht.opdrachtID)"><i class="material-icons">
                                delete
                            </i></button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <button class="button button--nuka" (click)="toevoegenPopup()">Opdracht toevoegen</button>

        </div>
    </div>
</div>

<div class="popupBox" *ngIf="popup">
    <div class="popup">
        <div (click)="closePopup()" id="close"><i class="material-icons">
            clear
        </i></div>
        <h1>Opdracht toevoegen</h1>
        <form #opdrachtForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="titel">Titel</label>
                <input type="text" class="form-control" id="titel" [(ngModel)]="opdracht.titel" name="opdrachtform1"
                    required>
            </div>
            <div class="form-group">
                <label for="omschrijving">Omschrijving</label>
                <input type="text" class="form-control" id="omschrijving" [(ngModel)]="opdracht.omschrijving"
                    name="opdrachtform2" required>
            </div>
            <div class="form-group">
                <label for="locatie">Locatie</label>
                <input type="text" class="form-control" id="locatie" [(ngModel)]="opdracht.locatie" name="opdrachtform3"
                    required>
            </div>
            <div class="form-group">
                <label for="competitie">Competitie</label>
                <input type="text" class="form-control" id="competitie" [(ngModel)]="opdracht.competitie"
                    name="opdrachtform4" required>
            </div>
            <div class="form-group">
                <label for="bedrijfID">Bedrijf</label>
                <select name="opdrachtform5" id="bedrijfID" [(ngModel)]="opdracht.bedrijfID">
                    <option value="0">------Kies een bedrijf-----</option>
                    <option *ngFor="let bedrijf of bedrijven"  [value]="bedrijf.bedrijfID">
                        {{bedrijf.bedrijfsnaam}}
                    </option>
                </select >
            </div>
            <div class="form-group">
                <label for="aantalPersonen">Aantal personen</label>
                <input type="number" min="0" class="form-control" id="aantalPersonen" [(ngModel)]="opdracht.aantalPersonen"
                    name="opdrachtform6" required>
            </div>

            <div class="form-group">
                <label for="status">Status</label>
                <select name="opdrachtform7" id="status" [(ngModel)]="opdracht.statusID">
                    <option value="0">------Kies een status-----</option>
                    <option *ngFor="let status of statussen"  [value]="status.statusID">
                        {{status.naam}}
                    </option>
                </select >
            </div>
            <button type="submit" class="btn btn-primary submitKnop">Toevoegen</button>
        </form>
    </div>
</div>